{% extends "base.html" %}

{% load static %}
{% block head_content %}
<title>GE | Restablecimiento enviado</title>
{% endblock head_content %}

{% block container %}
    <section class="reset-password-done-section">
        <div>
            <p> <b>¡Bien!</b> las instrucciones para restablecer su contraseña han sido enviadas a su correo electrónico. Por favor revise su mail.</p>
            <p>Si tiene algún problema puede escribirnos a <span>ayuda@gecontrucciones.com</span></p>
        </div>
    </section>
{% endblock%}