{% extends "base.html" %}

{% load static %}
{% block head_content %}
<title>GE | Reset View</title>
{% endblock head_content %}

{% block container %}

<section class="login">
    
 <article class="reset-container">
    <div class="reset-card">
        <h3>Restablecer contraseña</h3>
        <p>Ingrese su correo y le enviaremos un email con instrucciones para restablecer su contraseña.</p>
        <form action="" method="POST">{% csrf_token %}
            <input id="id_email" type="email" 
            placeholder="Correo electrónico" 
            name="email" 
            onKeyDown="validatorEmailReset();" 
            onKeyUp="validatorEmailReset();" 
            onkeypress="validatorEmailReset();" required>
            <p toggle="#id_email" id="error-email" class="error-input color-error">
            </p>
            <p toggle="#id_email" class="error-input">
                {{ form.email.errors }}
            </p>
            <button type="submit">RESTABLECER CONTRASEÑA</button>
        </form>
        <hr>
        <div>
            <i class="fas fa-exclamation-circle"></i><span>Si usted no recibe un correo de parte de nosotros en unos  pocos minutos cheque sus filtros de spam. Puede estar ahí.
              El mail que usted recibirá viene de <span> ayuda@gecontrucciones.com</span>
            </span>
        </div>
    </div>
 </article>
</section>
{% endblock%}

{% block scripts %}
<!-- validator -->
<script src="{% static 'js/validator-input.js' %}"></script>
{% endblock%}