{% extends "base.html" %}
{% load static %}
{% block head_content %}
<title>GE | Restablecimeinto de contraseña completado</title>
{% endblock head_content %}
{% block container %}
<section class="login">
    <section class="reset-container-password">
        <div class="reset-card-password">
            <h3 style="font-size: 16pt; color: var(--muted); margin-bottom: 30px;">Restablecimiento de contraseña completado</h3>
            <p style="font-size: 12pt; color: var(--info);">Ya puede usar tu nueva contraseña picale <a href="{{ login_url }}">Log in</a>.</ style="font-size: 12pt; color: var(--info);"p style="font-size: 12pt; color: var(--info);">
        </div>
    </section>
</section>


{% endblock %}